/*  your css code here. If applicable */
*{
margin: 0;
}
.container{
	background-color: rgb(68,68,68);
	color: white;
	border-radius: 2%;
	width: 70%;
 
}
header{
  padding:20px;
	text-align: center;
	font-size: 100%;
 
}
.row{
	display: flex;
	justify-content: center;
}
img{
	width: 28%;
	padding: 15px;
	border-radius: 15%;
}	
.animal-photos{
	padding:15px;
}